.far{
  font-size: 1.5em;
}
span{
  cursor: pointer;
  user-select: none;
}
.bg-image{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('src/assets/images/pexels-photo-6956352.jpeg');
}

h2.display-5{
  text-shadow: 1px 1px 3px white;
}