<h2 class="text-center my-5">Published<span class="text-info">Quotes</span> Library</h2><hr>

<div *ngFor="let pubdQuote of pubdQuotes; let i=index">
  <figure class="my-5 card text-dark p-3">
    <blockquote class="blockquote">
      <p>{{pubdQuote.id}}. "{{pubdQuote.quote}}"</p>
      <p class="text-primary"><i>Created {{pubdQuote.date|date}}</i></p>
      <p><span class="text-success "><i (click)="counter(i)" class="far fa-thumbs-up"></i></span> {{counter(i)}} Upvotes  <span class="mx-5">|</span>  <span class="text-danger "><i class="far fa-thumbs-down"></i></span> {{pubdQuote.downvote}} downvotes</p>
      <button class="btn btn-info">View Details</button>
    </blockquote>

    <div>
      <app-quote-details [pubdQuote]="pubdQuote"></app-quote-details>
    </div>
  </figure>
</div>