.far{
  font-size: 1.5em;
}
span{
  cursor: pointer;
  user-select: none;
}
.bg-image{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('src/assets/images/pexels-photo-6956352.jpeg');
}

h2.display-5{
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid white;
  animation: my-anime 4s steps(20, end) infinite alternate, blinking 1s steps(20, end) infinite;
  width: 0;
  animation-delay: 1s;
}

@keyframes my-anime{
  0% {width: 0%;}
  100%{width: 100%;}
}

@keyframes blinking{
  from{border-right: 2px solid white;}
  to{border-right: transparent;}
}

.wrap{
  display: inline-block;
}
.pubtime{
  font-size: 0.8em;
  color: grey;
}

.fas{
  font-size: 1.2em;
}